@model IEnumerable<HonestAuto.Models.ChatViewModel>

<h1>Chat Conversations</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Last Message</th>
         
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var conversation in Model)
        {
            <tr>
                <td>@conversation.ReceiverUsername</td>
                <td>@conversation.Content</td>

                <td>
                    <form asp-action="ChatWithUser" asp-route-receiverId="@conversation.ReceiverId" method="post">
                        <button type="submit" class="btn btn-primary">View Conversation</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
