<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Honest Auto</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="~/css/pikaday.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HonestAuto.styles.css" asp-append-version="true" />

    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        .page.contact-page {
            font-weight: 300; /* Lato light */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">HonestAuto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Navigation Links -->
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="Index">Car</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">User</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Mechanic"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Chat" asp-action="Index">Chats</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="CarEvaluation" asp-action="Index">Car Evaluation</a>
                            </li>
                        }
                        @if (User.IsInRole("Mechanic"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="CarEvaluation" asp-action="MyEvaluations">Car Evaluation</a>
                            </li>
                        }
                        @if (User.IsInRole("Seller") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="UserCars">User's Car Ads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="Create">Place An Ad</a>
                            </li>
                        }
                    }
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="SearchCars">Search Function</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="ViewAds">View All Ads</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Are You A Mechanic looking to Join Honest Auto?</a>
                        </li>
                    }

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <main class="page contact-page">
        @RenderBody()
    </main>

    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Honest Auto 2024</span></div>
        </div>
    </footer>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
