@model HonestAuto.Models.CarEvaluation

<h2>Create</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CarID" class="control-label"></label>
        <input asp-for="CarID" class="form-control" />
        <span asp-validation-for="CarID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MechanicID" class="control-label"></label>
        <input asp-for="MechanicID" class="form-control" />
        <span asp-validation-for="MechanicID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EvaluationStatus" class="control-label"></label>
        <input asp-for="EvaluationStatus" class="form-control" />
        <span asp-validation-for="EvaluationStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EvaluationSummary" class="control-label"></label>
        <input asp-for="EvaluationSummary" class="form-control" />
        <span asp-validation-for="EvaluationSummary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
