@model Microsoft.AspNetCore.Identity.IdentityUser
@using Microsoft.AspNetCore.Identity
<h1>Edit</h1>

<h4>IdentityUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="selectedRole">Select Role:</label>
                <select id="selectedRole" name="selectedRole" class="form-control">
                    <option value="">Select Role</option>
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
