@model HonestAuto.Models.Car

@{
    ViewData["Title"] = "Create New Car";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    <p> @ViewBag.UserID</p>
    <div class="form-group">
        <label asp-for="BrandId">Brand</label>
        <input asp-for="BrandId" class="form-control" />
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ModelId">Model</label>
        <input asp-for="ModelId" class="form-control" />
        <span asp-validation-for="ModelId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mileage">Mileage</label>
        <input asp-for="Mileage" class="form-control" />
        <span asp-validation-for="Mileage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year">Year</label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="History">History</label>
        <input asp-for="History" class="form-control" />
        <span asp-validation-for="History" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Registration">Registration</label>
        <input asp-for="Registration" class="form-control" />
        <span asp-validation-for="Registration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status">Year</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Colour">History</label>
        <input asp-for="Colour" class="form-control" />
        <span asp-validation-for="Colour" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="UserID" value="@ViewBag.UserID" />

    <div class="form-group">
        <label for="carImageFile">Car Image</label>
        <input type="file" name="carImageFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>