@model HonestAuto.Models.Car
<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Honest Auto</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="~/css/pikaday.min.css">
</head>
<body>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Edit Car</h2>
                </div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CarID" />
    <input type="hidden" asp-for="UserID" />
    <input type="hidden" asp-for="ModelId" />
    <input type="hidden" asp-for="BrandId" />

    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mileage" class="control-label"></label>
        <input asp-for="Mileage" class="form-control" />
        <span asp-validation-for="Mileage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="History" class="control-label"></label>
        <input asp-for="History" class="form-control" />
        <span asp-validation-for="History" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status">Status</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Colour">Colour</label>
        <input asp-for="Colour" class="form-control" />
        <span asp-validation-for="Colour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Registration">Registration</label>
        <input asp-for="Registration" class="form-control" />
        <span asp-validation-for="Registration" class="text-danger"></span>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to Index</a>
        </div>
    }
    else if (User.IsInRole("Seller"))
    {
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="UserCars" class="btn btn-secondary">Back to User's Car Ads</a>
        </div>
    }

</form>
            </div>
        </section>
    </main>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>