<!DOCTYPE html>
<html>
<head>
    <title>Contact Confirmation</title>
</head>
<body>
    <h1>Contact Form Submitted Successfully</h1>
    <p>Thank you for contacting us. We will get back to you shortly.</p>
</body>
</html>