@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid homepage">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto text-center">
     

        </div>
    </div>
</div>

<style>
    .homepage {
        background-image: url('/JackBG.png'); /* Use the actual image file name */
        background-size: cover;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        height: 100vh;
        display: flex;
        align-items: center;
    }
</style>
