html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.status-bar {
    height: 20px;
    width: 100%;
    border: 1px solid #ddd;
}

.status-submitted {
    background-color: yellow;
}

.status-in-progress {
    background-color: orange;
}

.status-completed {
    background-color: green;
}